<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SmartKids</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:include="layout/web-header"/>
</head>
<body class="goto-here">
<th:block th:include="layout/wed-menu"/>

<div class="hero-wrap hero-bread" style="background-image: url('images/backgr1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/shop}">Home</a></span> <span>Cart</span></p>
                <h1 class="mb-0 bread">My Cart</h1>
            </div>
        </div>
    </div>
</div>
<div th:if="${sizeCart != 0}">
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thanh toán</th>
                            </tr>
                            </thead>
                            <tbody class="imgCart">
                            <tr class="text-center " th:each="cart : ${myCartProduct}">
                                <td class="product-remove"><a class="remove" id="productId"
                                                              th:data-id="${cart.productDTO.productId}"
                                ><span class="ion-ios-close"></span></a></td>

                                <td class="image-prod">
                                    <div class="img"><img class="picture" th:src="@{${cart.productDTO.image}}"/></div>
                                </td>
                                <td class="product-name">
                                    <h3 th:text="${cart.productDTO.productName}"></h3>
                                    <p th:text="${cart.productDTO.description}"></p>
                                </td>
                                <th:block th:if="${cart.productDTO.promotions != null}">
                                    <td class="price">
                                <span class="price-cart-first"
                                      th:text="${#numbers.formatDecimal(cart.productDTO.price, 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                                        <th:block th:each="cartPercent : ${cart.productDTO.getPromotions()}"></br>
                                            <span th:with="result=${cart.productDTO.price -(cart.productDTO.price * cartPercent.percent / 100)}">
									<span th:id="'price-sale-' + ${cart.productDTO.productId}" class="price-sale-cart"
                                          th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
								</span>
                                        </th:block>
                                    </td>
                                </th:block>
                                <th:block th:unless="${cart.productDTO.promotions != null}">
                                    <td th:id="'price-original-' + ${cart.productDTO.productId}" class="price"
                                        th:text="${#numbers.formatDecimal(cart.productDTO.price, 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                                    </td>
                                </th:block>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" id="quantity" th:type= 'number' th:value="${cart.quantity}"
                                               th:data-id="${cart.productDTO.productId}" name="quantity"
                                               class="quantity form-control input-number update" value="0" min="1" max="100">
                                    </div>
                                </td>
                                <td class="total totalProduct" th:data-subtotal="${cart.amount}">
                                    <th:block th:if="${cart.productDTO.promotions != null}" >
                                        <span th:id="'cart-original-' + ${cart.productDTO.productId}" class="price-cart-first total-one"
                                              th:text="${#numbers.formatDecimal(cart.getAmountFist(), 0, 'COMMA', 0, 'POINT')}+' '+đ"></span></br>
                                        <span th:id="'cart-sale-' + ${cart.productDTO.productId}" class="price-sale-cart total-one"
                                              th:text="${#numbers.formatDecimal(cart.amount, 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                                    </th:block>
                                    <th:block th:unless="${cart.productDTO.promotions != null}">
                                        <span th:id="'cart-original-' + ${cart.productDTO.productId}" class="price-sale-cart total-one"
                                              th:data-total="${#numbers.formatDecimal(cart.amount, 0, 'COMMA', 0, 'POINT')}"
                                              th:text="${#numbers.formatDecimal(cart.amount, 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                                    </th:block>
                                </td>
                            </tr><!-- END TR-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end" th:if="${user != null}">
                <div class="row justify-content-end">
                    <div class="col-lg-12 mt-12 cart-wrap thongtin">
                        <h3>THÔNG TIN THANH TOÁN</h3>
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Thông Tin Người Nhận/Mua</h3>
                            <form action="#" class="info" method="post">
                                <div class="form-group">
                                    <label>Họ và tên khách hàng</label>
                                    <input class="form-control" th:field="${user.fullName}" id="fullName" type="text"
                                           required placeholder="Tên khách hàng">
                                </div>

                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" th:field="${address.phone}" name="phone" type="text"
                                           required placeholder="Số điện thoại">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Thông Tin Giao Hàng</h3>
                            <form action="#" class="info" method="post">
                                <div class="form-group">
                                    <label>Địa Chỉ Nhận Hàng</label>
                                    <input type="text" id="address" th:field="${address.address}" class="form-control text-left px-3" placeholder="">
                                </div>
                                <label>Phương Thức Giao Nhận</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="materialUnchecked"
                                           name="materialExampleRadios">
                                    <label class="form-check-label" for="materialUnchecked">Thanh Toán Tiền Mặt</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="materialChecked"
                                           name="materialExampleRadios" checked>
                                    <label class="form-check-label" for="materialChecked">Thanh Toán Qua Airpay</label>
                                </div>
                                <div class="form-group">
                                    <label>Ghi Chú</label>
                                    <input id="note" type="text" th:field="${address.note}" class="form-control text-left px-3" placeholder="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Cart Totals</h3>
                            <p class="d-flex">
                                <span id="subtotal" th:data-amount="${myCart.getAmountTotal()}"> Subtotal</span>
                                <span class="subtotal"
                                      th:text="${#numbers.formatDecimal(myCart.getAmountTotal(), 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                            </p>
                            <p class="d-flex">
                                <span id="subquantity"
                                      th:data-totalQuantity="${myCart.getQuantityTotal()}">Quantity</span>
                                <span class="subquantity"
                                      th:text="${#numbers.formatDecimal(myCart.getQuantityTotal(), 0, 'COMMA', 0, 'POINT')}"></span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span id="amount" th:data-totalAmount="${myCart.getAmountTotal()}">Total</span>
                                <span class="amount"
                                      th:text="${#numbers.formatDecimal(myCart.getAmountTotal(), 0, 'COMMA', 0, 'POINT')}+' '+đ"></span>
                            </p>
                        </div>
                        <p class="error-cart"></p>
                        <p class="info-checkout"><a href="#" class="btn btn-primary py-3 px-4 checkout">Proceed to Checkout</a></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" th:if="${user == null}">
                <div class="row justify-content-end">
                    <div class="col-lg-12 mt-12 cart-wrap">
                        <h3>Quý khách vui lòng đăng nhập để thanh toán !</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:if="${sizeCart == 0}">
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="content">
                        <div class="bottom-area d-flex px-3">
                            <table>
                                <th>
                                    <img src="https://i.pinimg.com/originals/c6/0f/ea/c60fea3ac3aab2e82c2f7ea901ef55f6.jpg">
                                </th>
                                <th>
                                    <a href="/shop" class="btn btn-primary"> Continue Shopping </a>
                                </th>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Vegefoods</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Shop</a></li>
                        <li><a href="#" class="py-2 d-block">About</a></li>
                        <li><a href="#" class="py-2 d-block">Journal</a></li>
                        <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                            <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                            <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQs</a></li>
                            <li><a href="#" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                        aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

<script>
    // function chaneTotalProduct(){
    //     var quatity = document.getElementById("quantity").innerText;
    //     var prime = document.getElementById("price-sale-122").textContent.split(" ")[0];
    //     document.getElementById("cart-sale-122").innerHTML = quatity*prime;
    //
    // }
    $(document).ready(function () {
        var sizeCart = $('.sizeCart').attr('data-size');
        if (sizeCart == 0) {
            $('.imgCart').html('<img class="imgCart" src="https://salt.tikicdn.com/desktop/img/mascot.png"/></br><a href="/home" class="textcart">tiếp tục mua sắm!</a>');
        }
        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });

        $('.quantity-left-minus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });
        quantity_total = function (selector) {
            var sum = 0;
            $(selector).each(function () {
                sum += Number($(this).val());
            });
            return sum;
        }
        bill_total = function (selector) {
            var sum = 0;
            $(selector).each(function () {
                sum += Number($(selector).attr('data-total'));
            });
            return sum;
        }

        $('.remove').click(function () {
            var seft = $(this);
            var productId = $('#productId').attr("data-id");
            var quantityLastRemove = $(this).closest('tr').find('input#quantity').val();
            var quantityFirstRemove = $(this).closest('tr').find('input#quantity').val();

            $.ajax({
                url: "/cart/removecart",
                type: "GET",
                data: {
                    id: productId,
                },
                success: function (value) {
                   seft.closest("tr").remove();
                    window.location = '/cart';
                },
                error: function () {
                    alert('Error occured');
                }
            });
        });

        $('.update').change(function () {
            var cart_sale = $('#cart-sale-' + $(this).attr('data-id')).text().split(" ")[0];
            var cart_original = $('#cart-original-' + $(this).attr('data-id')).text().split(" ")[0];
            var price_sale = $('#price-sale-' + $(this).attr('data-id')).text().split(" ")[0];
            var price_original = $('#price-original-' + $(this).attr('data-id')).text().split(" ")[0];
            var productId = $(this).attr("data-id");
            var quantity = parseFloat($(this).val());
            var amount = parseInt($('.price').text());

            if (!/^[0-9]+$/.test(quantity)) {
                /*$(this).closest('changeQuantity').find("p").html("số lượng ko đúng!")*/
                alert("bạn cần nhập vào sô!");
            }
            if (quantity > 999) {
                alert("số lượng vượt quá 1000!")
            }else {
                var sumQuantity = quantity_total('.update');
                var sumTotal = bill_total('#amount');
                $.ajax({
                    url: "/cart/updatecart",
                    type: "GET",
                    data: {
                        id: productId,
                        quantity: quantity,
                    },
                    success: function (value) {
                        window.location = '/cart';
                    }
                })
            }
        });
        $('.checkout').click(function (event) {
            event.preventDefault();
            var username = $('.username').attr("data-username");
            var fullName = $('#fullName').val();
            var phone = $('#phone').val();
            var address = $('#address').val();
            var note = $('#note').val();
            var subtotal = $('#subtotal').attr("data-amount");
            var subquantity = $('#subquantity').attr("data-totalQuantity");
            var amount = $('#amount').attr("data-totalAmount");

            if (username == 0) {
                $('.error-cart').html("Bạn cần đăng nhập để đặt hàng!").fadeIn( 1500 ).delay( 2000 ).fadeOut( 1500 );
            } else {
                $.ajax({
                    url: "/order/create",
                    type: "GET",
                    data: {
                        username: username,
                        fullName: fullName,
                        phone: phone,
                        address: address,
                        note: note,
                        subtotal: subtotal,
                        subquantity: subquantity,
                        amount: amount
                    },
                    success: function (response) {
                        $('.error-cart').html("Đặt đơn hàng thành công!").fadeIn( 1500 ).delay( 2000 ).fadeOut( 1500 );
                        setTimeout("window.location = '/home';", 1500)
                    },
                })
            }
        });
    });
</script>

</body>
</html>