<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/Login_v18/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v18/css/main.css}">
<!--===============================================================================================-->

</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"
					th:action="@{/user/authenticate}" method="POST">
					<span class="login100-form-title p-b-43"> Login to continue
					</span>

					<div id="error-message" th:if="${param.error != null}"
						th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

					<div class="wrap-input100 validate-input"
						data-validate="Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input"
						data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a th:href="@{/resetPass}" class="txt1"> Forgot Password? </a>
						</div>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">Login</button>
					</div>

					<div class="text-center p-t-46 p-b-20">
						<span class="txt2"> Not have account yet? </span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a th:href="@{/signup}" style="color: #76b852; text-transform: uppercase;" class="btn">Sign
							up</a>
					</div>
				</form>

				<div class="login100-more" th:style="'background-image:url('+ @{images/backgr7.jpg} +');'"></div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/Login_v18/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/Login_v18/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/Login_v18/js/main.js}"></script>
	
</body>
</html>
