<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SmartKids</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:include="layout/web-header"/>
</head>
<body class="goto-here">
<th:block th:include="layout/wed-menu"/>

<div class="hero-wrap hero-bread" style="background-image: url('images/backgr6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/shop}">Home</a></span> <span>Cart</span></p>
                <h1 class="mb-0 bread">My Order</h1>
            </div>
        </div>
    </div>
</div>
<div>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a th:href="@{/order(username=${#authentication.getPrincipal().getUsername()}, status=0)}"
                               class="nav-link" th:attr="data-link-index=0">Processing</a></li>
                        <li><a th:href="@{/order(username=${#authentication.getPrincipal().getUsername()}, status=1)}"
                               class="nav-link" th:attr="data-link-index=1">delivery</a></li>
                        <li><a th:href="@{/order(username=${#authentication.getPrincipal().getUsername()}, status=2)}"
                               class="nav-link" th:attr="data-link-index=2">success</a></li>
                        <li><a th:href="@{/order(username=${#authentication.getPrincipal().getUsername()}, status=3)}"
                               class="nav-link" th:attr="data-link-index=3">order canceled</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Full name</th>
                                <th>Status</th>
                                <th>Order date</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody class="imgCart">
                            <tr class="text-center " th:each="order : ${orders}">
                                <th:block th:switch="${order.status}">
                                    <td id="orderid" th:data-id="${order.ordersId}" th:case="0">
                                        <button id="productId" type="button" class="btn btn-warning btn-order-remove remove orderid">Cancel</button>
                                        <a type="button" th:href="@{/order/view(orderid=${order.ordersId})}" class="btn btn-info btn-view">View</a>
                                    </td>
                                    <td class="status" th:case="1">
                                        <a type="button" th:href="@{/order/view(orderid=${order.ordersId})}" class="btn btn-info btn-view">View</a></td>
                                    <td class="status" th:case="2">
                                        <a type="button" th:href="@{/order/view(orderid=${order.ordersId})}" class="btn btn-info btn-view">View</a></td>
                                    <td id="orderid" th:data-id="${order.ordersId}" th:case="3">
                                        <button type="button" class="btn btn-danger btn-order remove orderid">Reorder</button>
                                        <a type="button" th:href="@{/order/view(orderid=${order.ordersId})}" class="btn btn-info btn-view">View</a>
                                    </td>
                                </th:block>
                                <td class="product-name">
                                    <h3 th:text="${order.userDTO.fullName}"></h3>
                                </td>
                                <th:block th:switch="${order.status}">
                                    <td class="status" th:case="0"><span>Đang xử lý</span></td>
                                    <td class="status" th:case="1"><span>Đang giao hàng</span></td>
                                    <td class="status" th:case="2"><span>Đã hoàn thành</span></td>
                                    <td class="status" th:case="3"><span>Đã hủy đơn hàng</span></td>
                                </th:block>

                                <th:block th:switch="${order.status}">
                                    <td th:case="0"><span
                                            th:text="${#dates.format(order.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </td>
                                    <td th:case="1"><span
                                            th:text="${#dates.format(order.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </td>
                                    <td th:case="2"><span
                                            th:text="${#dates.format(order.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </td>
                                    <td th:case="3"><span
                                            th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </td>
                                </th:block>

                                <td class="total"><span
                                        th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} +' đ'"></span></br>
                                </td>
                            </tr><!-- END TR-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Vegefoods</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Shop</a></li>
                        <li><a href="#" class="py-2 d-block">About</a></li>
                        <li><a href="#" class="py-2 d-block">Journal</a></li>
                        <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                            <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                            <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQs</a></li>
                            <li><a href="#" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                        aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/jquery.easing.1.3.js}"></script>
<script th:src="@{js/jquery.waypoints.min.js}"></script>
<script th:src="@{js/jquery.stellar.min.js}"></script>
<script th:src="@{js/owl.carousel.min.js}"></script>
<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{js/aos.js}"></script>
<script th:src="@{js/jquery.animateNumber.min.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<script th:src="@{js/scrollax.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{js/google-map.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
<script>
    $(document).ready(function () {
        var state = localStorage.getItem('link-client-index');
        if (state) {
            $('[data-link-index=' + state + ']').addClass('active');
        } else {
            $('[data-link-index=0]').addClass('active');
        }
        $('.nav-link').on(
            'click',
            function (e) {
                clearSidebarActive();
                localStorage.setItem('link-client-index', $(this).attr(
                    'data-link-index'));
            });

        function clearSidebarActive() {
            $('.nav-link').each(function (e) {
                $(this).removeClass('active');
            });
        }


        $('.remove').click(function () {
            var seft = $(this);
            var orderid = $('#orderid').attr("data-id");
            $.ajax({
                url: "/order/cancel",
                type: "GET",
                data: {
                    orderid: orderid,
                },
                success: function (value) {
                    seft.closest("tr").remove();
                },
                error: function () {
                    alert('Error occured');
                }
            });
        });
    })
</script>
</html>