<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SmartKids - Order of you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:include="layout/web-header"/>
</head>
<body class="goto-here">
<th:block th:include="layout/wed-menu"/>

<div class="hero-wrap hero-bread" th:style="'background-image:url('+ @{/images/bg_1.jpg} +');'">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/shop}">Home</a></span> <span>Cart</span></p>
                <h1 class="mb-0 bread">My Order</h1>
            </div>
        </div>
    </div>
</div>
<div>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="container">
                        <div class="row bongbenh">
                            <div class="col-12 o-info">Order information</div>
                            <div class="col-3 thuyxinh">
                                <p>Full name: </p>
                                <p>Status: </p>
                                <p>Order date: </p>
                                <p>Total price: </p>
                            </div>
                            <div class="col-3">
                                <p th:text="${order.userDTO.fullName}"></p>
                                <p><th:block th:switch="${order.status}">
                                    <td class="status" th:case="0"><span>Đang xử lý</span></td>
                                    <td class="status" th:case="1"><span>Đang giao hàng</span></td>
                                    <td class="status" th:case="2"><span>Đã hoàn thành</span></td>
                                    <td class="status" th:case="3"><span>Đã hủy đơn hàng</span></td>
                                </th:block>
                                </p>
                                <p th:text="${#dates.format(order.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></p>
                                <p th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} +' đ'"></p>
                            </div>
                            <div class="col-12"><hr noshade></div>
                        </div>
                    </div>


                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Product name</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>

                            </tr>
                            </thead>
                            <tbody class="imgCart">
                            <tr class="text-center" th:each="orderdetail: ${order.orderDetailEntities}">
                                <td class="product-name">
                                    <h3 th:text="${orderdetail.productDTO.productName}"></h3>
                                </td>
                                <td>
                                    <img th:src="*{orderdetail.productDTO.image}"
                                         style="width: 100px; height: 70px"/>
                                </td>
                                <td>
                                    <h6 th:text="${orderdetail.productDTO.description}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${orderdetail.productDTO.price}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${orderdetail.quantity}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${orderdetail.amount}"></h6>
                                </td>

                            </tr><!-- END TR-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/scrollax.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/js/google-map.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>