<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <title>Vegefoods</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="layout/web-header" />
</head>
<body class="goto-here">
<th:block th:include="layout/wed-menu" />

<div class="hero-wrap hero-bread"
     th:style="'background-image: url('+ @{images/backgr1.jpg}+');'">
    <div class="container">
        <div
                class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a th:href="@{/home}">Home</a></span> <span>Promotions</span>
                </p>
                <h1 class="mb-0 bread">Promotions</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Promotional Products</span>
                <h2 class="mb-4">Promotional Products</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
        </div>
        <div class="row">
            <th:block th:if="${listProduct != null}">
                <div class="col-md-6 col-lg-3 ftco-animate"
                     th:each="product : ${listProduct}">
                    <div class="product">
                        <a href="#" th:href="@{/detail/{id}(id=${product.productId})}" class="img-prod">
                            <img class="img-fluid" th:src="@{${product.image}}" style="height: 200px; width: auto"
                                 alt="Colorlib Template">
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3>
                                <a href="#"><p th:text="${product.productName}"></p></a>
                            </h3>
                            <div class="d-flex">
                                <th:block th:if="${product.promotions != null}">
                                    <div class="pricing" th:each="promotion : ${product.promotions}">
                                        <p class="price"
                                           th:with="result=${product.price -(product.price * promotion.percent / 100)}">
                                            <span class="price-sale"
                                                  th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 0, 'POINT')}+ ' đ  '"></span>
                                            <span class="status thuyxinh"
                                                  th:text="'-'+${#numbers.formatDecimal(promotion.percent, 0, 'COMMA', 0, 'POINT')}+' %'"></span>
                                        </p>
                                        <p>
                                            <span class="mr-2 price-dc thuybeo"
                                                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}+ ' đ '"></span>
                                        </p>
                                    </div>
                                </th:block>
                                <th:block th:unless="${product.promotions != null}">
                                    <div class="pricing">
                                        <p class="price">
                                            <span class="price-sale thuybeo"
                                                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>
                                        </p>
                                    </div>
                                </th:block>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex"><a th:href="@{/detail/{id}(id=${product.productId})}"
                                                              class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                    <a id="coom" href="" th:data-id="${product.productId}"
                                       class="add-to-cartInfo d-flex justify-content-center align-items-center text-center add">
                                        <span><i class="ion-ios-add"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li><span th:if="${pages.isLast()}"> <a
                            th:href="@{/promotion(page=${pages.page -1},size=${pages.size})}">&lt;</a>
						</span></li>
                    <th:block th:each="i: ${#numbers.sequence(0, pages.number - 1) }">
                        <li class="active"><span th:if="${pages.totalPages == i}"
                                                 class="selected">[[${i}+1]]</span> <span
                                th:unless="${pages.totalPages == i}"> <a
                                th:href="@{/promotion(page=${i},size=${pages.size})}">[[${i}+1]]</a>
							</span></li>
                    </th:block>
                    <li><span th:if="${pages.isFirst()}"> <a
                            th:href="@{/promotion(page=${pages.page +1},size=${pages.size})}">&gt;</a>
						</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<th:block th:include="layout/web-footer" />
<script>

    $(document).ready(function() {
        var state = localStorage.getItem('link-client-index');
        if (state) {
            $('[data-link-index=' + state + ']').addClass('active');
        } else {
            $('[data-link-index=0]').addClass('active');
        }

        $('.nav-link').on(
            'click',
            function(e) {
                clearSidebarActive();
                localStorage.setItem('link-client-index', $(this).attr(
                    'data-link-index'));
            });

        function clearSidebarActive() {
            $('.nav-link').each(function(e) {
                $(this).removeClass('active');
            });
        }

        $('.add').click(function() {
            var productId = $(this).attr("data-id");
            $.ajax({
                url : "/cart/buycart",
                type : "GET",
                data : {
                    id : productId,
                },
                success : function(value) {
                    $('.sizeCart').html("[" + value + "]");
                }
            })
        });

    });
</script>
</body>
</html>