<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Success</title>
</head>
<body>
	<h1>HERE IS SUCCESS RESET PASSWORD</h1>
	<p>Check mail and change your password!</p>
	<span><a th:href="@{/home}">Click here</a> to return back to home page!</span>
</body>
</html>